@{
    ViewData["Title"] = "О программе";
}

@section Head {
    <link rel="stylesheet" href="~/css/other.css" />
}

<div class="contacts-abaut">
    <h1>@ViewData["Title"]</h1>
    <p>
        <i>
            &emsp;Приложение разработано в учебно-тренировочных целях, в качестве курсового проекта, однако, при положительном заключении оценки рисков
            продолжение разработки данного приложения возможна и в дальнейшем. 
        </i>
    </p>
    <p>
        <i>
            &emsp;Основная цель данного приложения сократить затраты времени и человеческих ресурсов, что в значительной степени повысит рентабельность,
            при разработке рабочей документации объектов энергетической отрасли.
        </i>
    </p>
</div>