@{
    ViewData["Title"] = "Контакты";
}

@section Head {
    <link rel="stylesheet" href="~/css/other.css" />
}

<div class="contacts-abaut">
    <h1>@ViewData["Title"]</h1>
    <p>
        <i>
            &emsp;В этом разделе должна размещаться контактная информация о разработчике или компании-разработчике. 
            Адреса фактичекий и/или юридичекий, контакты отделов, ФИО директоров или еще каких-нибудь сотрудников и тд и тп...
        </i>
    </p>
    <p>
        <i>
            &emsp;Однако, я предпочел бы, во всяком случае пока, не выходить из тени и остаться инкогнито...
        </i>
    </p>
</div>