
@{
    ViewData["Title"] = "Главная страница";
}

<div class="container">
    <a class="plate-link" asp-area="" asp-controller="GroundResistance" asp-action="Kontur">
        <span>Расчет контура заземления</span>
    </a>
    <a class="plate-link" asp-area="" asp-controller="Home" asp-action="Cable">
        <span>Выбор проводника по току/нагрузке</span>
    </a>
    <a class="plate-link" asp-area="" asp-controller="Home" asp-action="Apparat">
        <span>Выбор коммутационных аппаратов</span>
    </a>
    <a class="plate-link" asp-area="" asp-controller="Home" asp-action="Transformator">
        <span>Выбор трансформаторов тока</span>
    </a>    
</div>


