
@{
    ViewData["Title"] = "Главная страница";
}

<div class="container">
    <a class="plate-link" asp-area="" asp-controller="GroundResistance" asp-action="Kontur">
        <span>Расчет контура заземления</span>
    </a>
    <a class="plate-link" asp-area="" asp-controller="Cable" asp-action="Cable">
        <span>Выбор проводника по току/нагрузке</span>
    </a>
</div>


