#kontur {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 100%;
}

#partLeft, #partRight {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    min-width: 40%;
    background-color: wheat;
    border: 1px solid black;
    margin:10px;
    padding: 10px;
}